body{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: black;
}

.showcase{
  float: left;
  background: url(https://abs.twimg.com/sticky/illustrations/lohp_en_1302x955.png);
  width: 54%;
  height: 100%;

}
.left{
  float: left;
  padding: 70px 30px;
  width: 40%;
}
.left .logo{
  padding-top:150px ;
  padding-left: 30px;
}
.left i{
  color: #fff;

}
.left h1{
  padding-left: 30px;
  margin-top: 45px;
  text-align: left;
  font-size: 74px;
  margin-left: 8px;
  word-spacing: 4px;
  color: #fff;
  font-family: 'lato',sans-serif;
  white-space: inherit;
}
.left h2{
  padding-left:30 ;
  margin-top: -15px;
  align-items: flex-start;
  font-size: 35px;
  word-spacing: 4px;
  color: #fff;
  font-family: 'lato',sans-serif;
  white-space: inherit;
  margin-left: 5px;
}
.google{
  position: relative;
  float: left;
  display: inline-block;
  width: 50%;
  padding: 10px 30px;
}

.google a{
  padding: 10px 0px;
  height: 1.2rem;
  border: 0;
  background-color: #fff;
  border-radius: 50px;
  font-weight: bold;
  text-decoration: none;
  color: black;
  text-align: center;
  display: block;
font-family: 'lato',sans-serif;
}

.glogo img{
  position: fixed;
  margin-left: 80px;
  margin-top: 8px;
  
}

.google a:hover{
  background-color: lightgrey;
  transition: .15s ease-in-out;
}
.apple{
  float: left;
  display: inline-block;
  width: 50%;
  padding: 10px 30px;
}
.alogo img{
  position: fixed;
  margin-left: 80px;
  margin-top: 8px;
  
}
.apple a{
    padding: 10px 0px;
  height: 1rem;
  border: 0;
  background-color: whitesmoke;
  border: 1px solid #fff;
  border-radius: 50px;
  font-weight: bold;
  text-decoration: none;
  color: black;
  text-align: center;
  display: block;
font-family: 'lato',sans-serif;
}

.apple a:hover{
  background-color: lightgrey;
  transition: .15s ease-in-out;
}

.email{
  float: left;
  display: inline-block;
  width: 50%;
  padding-left: 30px;
  padding-top: 10px;
}
.email a{
    padding: 10px 0px;
  height: 1rem;
  border: 0;
  background-color: whitesmoke;
  border: 1px solid #fff;
  border-radius: 50px;
  font-weight: bold;
  text-decoration: none;
  color: black;
  text-align: center;
  display: block;
font-family: 'lato',sans-serif;
}

.email a:hover{
  background-color: lightgrey;
  transition: .15s ease-in-out;
}

.havacnt{
  float: left;
  display: inline-block;
  width: 50%;
  padding: 0px 30px;
}

.policy{
  float: left;
  display: inline-block;
  width: 50%;
  padding: 00px 30px;
}


